# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List poplular languages for Data Science
- List 3 popular Data Science Tools
- Show examples of evaluating arithmetic expression in python
- Show a simple arithmetic expression to mutiply then add integers
- Show how to convert 200 minutes to hours by diving by 60

Some of the popular languages that Data Scientisit use are:
1. python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript
9. PHP

| Data Science Tools |
|:------------------:|
| Jupyter Notebooks |
| JupyterLab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Vasin Sukontanon